body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}


#buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#input_lugares {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}


#buscar_submit {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#buscar_submit:hover {
    background-color: #0056b3;
}


#resultados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}


.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 1em;
    margin-bottom: 20px;
}


.card span {
    font-weight: bold;
    color: #007BFF;
}


.card btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.card btn:hover {
    background-color: #218838;
}

.hidden {
    visibility: hidden;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.spinner {
    position: relative;
    z-index: 2;
    color: white;
}

#sem_resultados{
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Container das notificações */
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilo geral para cada notificação */
.notification {
    background-color: #f44336;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Estilo da notificação de sucesso */
.notification.success {
    background-color: #4CAF50;
}

/* Estilo da notificação de erro */
.notification.error {
    background-color: #f44336;
}
